/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  margin-top: 49px;
  padding: 0;
  color: #333;
}
.container {
  width: min-content;
  z-index: 200;
  margin: 0 auto;
  background-color: white;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.25rem;
  color: #777;
}

/* Top Banner */
header + img {
  display: block;
  cursor: pointer;
  margin: auto;
  margin-bottom: 20px;
}

.upper-part {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
  width: max-content;
}

.top-text {
  display: flex;
  width: max-content;
  margin-right: auto;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: flex-end;
}

.top-text h1 {
  font-size: 2rem;
  color: #1d1d1f;
}

.top-text p {
  font-size: 1rem;
  color: #6e6e73;
}

.device-info {
  display: flex;
  height: 800px;
}

.device-img {
  margin-top: 20px;
  background-size: cover;
  background-position: center;
  height: 600px;
  width: fit-content;
  margin-right: 100px;
  border-radius: 10px;
}
.device-img img {
  height: inherit;
  width: 600px;
  transition: all 0.3s ease-in-out;
  object-fit: contain;
}
.device-img img:hover {
  transform: scale(1.02);
  cursor: pointer;
  /* transform: rotateY(180deg); */
}

.specs {
  margin-bottom: 100px;
  overflow-y: scroll;
  scrollbar-width: none;
  width: min-content;
}

.specs .ask {
  margin-bottom: 10px;
  margin-top: 50px;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
}

.option-1,
.option-2,
.option-3,
.option-5 {
  margin-bottom: 15px;
}

.option-1 h1,
.option-2 h1,
.option-3 h1,
.option-5 h1 {
  font-size: 1.5rem;
  color: #1d1d1f;
}

.option-1 p,
.option-2 p,
.option-3 p,
.option-5 p {
  font-size: 1rem;
  color: #6e6e73;
}

.option-1,
.option-3,
.option-5 {
  background-color: #f9f9fa;
  padding: 15px;
  border-radius: 8px;
}

.buy button {
  border-radius: 10px;
  color: #333;
  padding: 5px 10px;
  font-size: 40px;
  border: 1px solid #777;
  cursor: pointer;
  width: 60%;
  margin: auto;
  font-weight: bold;
}

.buy {
  display: flex;
  margin-top: 20px;
  transition: all 0.3s ease-in;
}

.buy:hover {
  transform: scale(1.02);
  color: #333;
}

.color {
  display: flex;
}
.color div {
  margin: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #777;
}
.storage {
  display: flex;
  margin-top: 20px;
}
.storage input,
.storage label {
  cursor: pointer;
  width: 20px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #777;
}
.storage input {
  visibility: hidden;
}
.storage input:checked + label {
  background-color: #444;
  color: white;
}
.storage label {
  width: 30%;
  text-align: center;
  height: 50px;
  transition: all 0.2s ease-in-out;
}
.storage label:hover {
  background-color: #444;
  color: white;
}

.storage label:active {
  transform: scale(0.8);
  color: #222;
}

@media (max-width: 768px) {
  header + img {
    object-fit: cover;
    width: 100%;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .device-info {
    width: 100px;
    flex-direction: column; 
    align-items: center; 
  }

  .device-img {
  }
  .device-img img {
 
  }
  .specs{
    overflow-y: visible;
    height:min-content;
  }
  .buy button {
    font-size: 1.2rem; 
  }

  .option-1 h1,
  .option-2 h1,
  .option-3 h1,
  .option-5 h1 {
    font-size: 1.25rem; 
  }

  .option-1 p,
  .option-2 p,
  .option-3 p,
  .option-5 p {
    font-size: 0.9rem; 
  }

  .lower-part img {
    object-fit: cover;
    height: 15.3%;
    width: 100%;
  }
}
