body {
  margin: 0;
  padding: 0;
  color: #fff;
  text-align: center;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iphone-row {
  width: 100%;
  margin-top: 50px;
  margin-bottom: -40px;
}

.image-container img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.grids {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}
.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#slideshow-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slideshow-image {
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 1s ease-in-out;
  top: 0;
  left: 0;
}

.active {
  transform: translateX(0); /* Image is visible */
}

.inactive {
  transform: translateX(100%); /* Image is moved out of view */
}

.inactive-left {
  transform: translateX(-100%); /* Image moved left when cycling backward */
}

@media (max-width: 768px) {
  .image-container{
    height: 300px;
    width: 100%;
  }

  .image-container img {
    height: 100%;
    width: 100%;
  }

  .grids {
    grid-template-columns: repeat(1, 1fr);
  }
  #slideshow-container {
    position: relative;
    width: 100%;
    height: 30%;
    overflow: hidden;
  }

  .slideshow-image {
    object-fit: fill;
  }
}
